body{
    font-family: 'Merriweather';
    margin: 0;
}
h1,h2,p{
    margin: 0;
}
#top{
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 30px;
}
#top h1{
    margin-bottom: 10px;
}
#bottom{
    text-align: center;
    font-weight: 700;
    background-color: #bdc3c7;
    line-height: 30px;
    margin-top: 30px;
}
.wapper{
    position: relative;
}
.first-site{
    margin: 20px auto;
}
#main{
    padding: 20px 320px 0 100px;
    line-height: 25px;
}
#main img{
    display: block;
    margin: 20px auto;
    border:2px solid #2c3e50;
    border-radius: 20px 0 20px 0;
}
.keyword{
    font-style: italic;
}
#sidebar{
    position: absolute;
    right: 0;
    top: 0;
    width: 260px;
    font-size: 18px;
    border: 2px dashed #bdc3c7;
    padding: 0 0 20px 20px;
}
#sidebar{
    max-width: 100%;
    margin: 80px;
}

